.button,
.buttonCadastrar {
  font-size: 1rem;
  font-family: var(--type-first);
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: #4995ff;
  color: #fff;
  padding: 1rem;
  box-sizing: border-box;
  transition: 0.1s;
  min-width: 8rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.buttonCadastrar {
  background: #fff;
  color: #777;
}

.button:hover,
.buttonCadastrar:hover,
.buttonCadastrar:focus .button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #d9eeff, 0 0 0 4px #659ce9;
}

.button:disabled {
  opacity: 0.5;
  cursor: wait;
}
